script(src='/js/jquery.min.js')
script(src='/js/socket.io.js')
script(src='/js/underscore.js')
script(src='/js/bootstrap-dropdown.js')
script(src='/js/backbone.js')
script(src='/js/collections.js')
script(src='/js/models.js')
script(src='/js/views.js')
script(src='/js/dust.js')
script(src='/js/pendingjob.js')
script(src='/js/nojobs.js')
script(src='/js/completedjob.js')
script(src='/js/tests.js')
script(src='/js/index.js')
script(src='/js/clone.js')
script(src='/js/main.js')
